<app-navbar></app-navbar>
<p-messages [value]="msgs"></p-messages>

<button pButton type="button" (click)="showForm()" label="Add Product" class="p-button-help"></button>

<p-dialog [(visible)]="showProductForm" [modal]="true">
    <p-card class='showForm()'>
        <form [formGroup]="productForm">
            <span class="p-float-label">
                <input formControlName="name" id="float-input" pInputText placeholder="Title">
                <label for="float-input">Title</label>
            </span>
            <br />
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText placeholder="Description" formControlName="description">
                <label for="float-input">Description</label>
            </span>
            <br />
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText placeholder="Price" formControlName="price">
                <label for="float-input">Price</label>
            </span>
            <br />
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText placeholder="Quantity" formControlName="quantity">
                <label for="float-input">Quantity</label>
            </span>
            <br />
            <button *ngIf="!updateProductForm" pButton type="button" (click)="addProduct()" label="Create"
                class="p-button-help"></button>
            <button *ngIf="updateProductForm" pButton type="button" (click)="updateProduct()" label="Update"
                class="p-button-help"></button>
        </form>
    </p-card>
</p-dialog>

<div class="card">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-content">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <span class="product-price">${{product.price}}</span>
                    </div>
                    <div class="product-grid-item-bottom">
                        <p-button icon="pi pi-shopping-cart" (click)="addToCart(product.id)"></p-button>
                        <p-button icon="pi pi-pencil" (click)="showUpdateForm(product)"></p-button>
                        <p-button icon="pi pi-trash" (click)="deleteProduct(product.id)"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-dialog header={{messageTitle}} [(visible)]="createProductModel" [style]="{width: '50vw'}" [modal]="true"
    [baseZIndex]="10000">
    <p>{{message}}</p>
    <button pButton type="button" (click)="goToCard()" label="Go to Cart"
    class="p-button-help"></button>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>