
<ul>
    <div class="row">

        <div class="col-4">
            <li>
                <a class="active" routerLink="/">Home</a>
            </li>

            <li>
              <a class="active" routerLink="/products">Products</a>

            </li>
            <div *ngIf="logoutButton">
                <button  pButton type="button" (click)="logout()" label="Logout"class="p-button-help"></button>
            </div>
            <div *ngIf="!logoutButton">
                <li><a class="active" routerLink="/login">Login</a></li>
            </div>
        
        </div>
       <div class="col">
        <li> 
            <p-button icon="pi pi-shopping-cart" (click)="cart()"></p-button>
       </li>
       </div>
    
    </div>
    


</ul>
  