<app-navbar></app-navbar>
<p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                </div>
                <div class="card">
                
                    <h4 class="mb-1">{{product.name}}</h4>
                    <img style="height: 150px; width: 100%; object-fit: contain; " [src]="product.img_url" [alt]="product.name"/>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.price}}</span>
             
                        <p-button icon="pi pi-shopping-cart" (click)="addToCart(product.product_id)" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                    
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>