<app-navbar></app-navbar>

<div class="center" style="max-width: 40rem;">
    <p-card>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="center p-fluid p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label">
                        <input formControlName="email" id="float-input" pInputText>
                        <label for="float-input">Email</label>
                    </span>
                    <small *ngIf="email.invalid" class="p-error block">Please enter your name.</small>
                    <br />
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label">
                        <input id="float-input" type="password" pInputText placeholder="Password" formControlName="password">
                        <label for="float-input">Password</label>
                    </span>
                    <small *ngIf="password.invalid" class="p-error block">Please enter your password.</small>
                    <br />
                </div>
            </div>
            <button  [disabled]="!loginForm.valid" pButton type="submit" label="Login"  class="p-button-help"></button> 

        </form>
        <br />
        <div class="col">
        <p-button label="click here" styleClass="p-button-link" (click)="signup()">need an account? </p-button>
        </div>
    </p-card>
</div>