<app-navbar></app-navbar>



<!-- <p-card [style]="{'max-width': '100%', 'margin-bottom': '2em', 'align-items': 'center'}">
<ul *ngFor="let product of cartProducts">
    <div class="p-col-12">
            <div class="col">
                <div>{{product.name}}</div>
                <p-button icon="pi pi-trash"  (click)="removeFromCart(product.product_id, product.id)" ></p-button>

            </div>
    </div>
</ul>

<p-button icon="pi pi-trash"  (click)="getUserInfo()" ></p-button>


</p-card> -->
<!-- 

<p-table [value]="cartProducts" styleClass="p-datatable-gridlines" responsiveLayout="scroll">

    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>quantity</th>
            <th>Remove</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price * product.quantity}}</td>
            <td>{{product.quantity}}   <p-button icon="pi pi-pencil"  (click)="editQuantity(product.product_id, product.id)" ></p-button>
            </td>

            <td>
                <p-button icon="pi pi-trash"  (click)="removeFromCart(product.product_id, product.id)" ></p-button>
            </td>

        </tr>

    </ng-template>

</p-table>

<p-card>
    <td>Total:{{total}}</td>

    <button pButton [disabled]="disabled()" type="button" label="Checkout" class="p-button-warning" (click)="checkout()"></button>

</p-card>
 -->


 <p-dialog [(visible)]="showQuantityModel" [modal]="true">

    <div class="field col-12 md:col-3">
        <label for="horizontal">Quantity: </label>
        <p-inputNumber
        [(ngModel)]="currentQuantity"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        [step]="1"
    
        incrementButtonIcon="pi pi-angle-right"
        decrementButtonIcon="pi pi-angle-left"
        [min]="1"
 
        (onInput)="changeQuantity($event.value)"

      >
      </p-inputNumber>
    
    </div>
    
 </p-dialog>



<br>

<div>
 
<p-orderList [value]="cartProducts" [listStyle]="{'max-height':'30rem'}" header="Your Cards"  >
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="image-container">
                    <img src="{{product.img_url}}" [alt]="product.name" class="product-image" />
            </div>
            <div class="product-list-detail">
                <h5 class="mb-2">{{product.name}}</h5>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category">{{product.category}}</span>
                <td>{{product.quantity}}   <p-button icon="pi pi-pencil"  (click)="showQuantity(product.quantity, product.product_id, product.id)" ></p-button>
            </div>




            <div class="product-list-action">
                <h6 class="mb-2">${{product.price * product.quantity}}</h6>
                <span [class]="'product-badge status-' + product.inventoryStatus">{{product.inventoryStatus}}</span>

                <p-button icon="pi pi-trash"  (click)="removeFromCart(product.product_id, product.cart_id)" ></p-button>

            </div>

        </div>
    </ng-template>

</p-orderList>
    
    
<p-card [ngStyle]="{width:'80%'}">
    <div class="product-list-action checkout">
        <div>
            Total:{{total}}
        </div>
    </div>
    <br/>
    <div class="checkout">

        <button pButton [disabled]="disabled()" type="button" label="Checkout" class="p-button-warning" (click)="checkout()"></button>
    
    </div>
   
</p-card>


</div>