<app-navbar></app-navbar>

<p-card [style]="{'width': '25rem', 'margin-bottom': '2em', 'align-items': 'center'}">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <span class="p-float-label">
            <input formControlName="name" id="float-input" pInputText >
            <label for="float-input">Name</label>
        </span>
        <small *ngIf="name.invalid"  class="p-error block">Please Enter name.</small>
        <br /> 

        <span class="p-float-label">
            <input formControlName="email" id="float-input" pInputText >
            <label for="float-input">Email</label>
        </span>
        <small *ngIf="email.invalid"  class="p-error block">Please Enter email.</small>
        <br />   

        <span class="p-float-label">
            <input id="float-input" type="password" pInputText formControlName="password">
            <label for="float-input">Password</label>
        </span>
        <small *ngIf="password.invalid"  class="p-error block">Please Enter Password.</small>
        <br/>

        <span class="p-float-label">
            <input formControlName="street" id="float-input" pInputText >
            <label for="float-input">Street</label>
        </span>
        <small *ngIf="street.invalid"  class="p-error block">Please Enter street.</small>
        <br />

        <span class="p-float-label">
            <input formControlName="city" id="float-input" pInputText >
            <label for="float-input">City</label>
        </span>
        <small *ngIf="city.invalid"  class="p-error block">Please Enter city.</small>
        <br />

        <span class="p-float-label">
            <input formControlName="state" id="float-input" pInputText >
            <label for="float-input">State</label>
        </span>
        <small *ngIf="state.invalid"  class="p-error block">Please Enter state.</small>

        <br />   
        <span class="p-float-label">
            <input formControlName="zip" id="float-input" pInputText>
            <label for="float-input">Zip</label>
        </span>
        <small *ngIf="zip.invalid"  class="p-error block">Please Enter zip.</small>

        <br />    
        <div>
            <button pButton type="submit" label="Sign Up" class="p-button-help"></button>
        </div>
    </form>
    <button pButton type="button" label="Login" class="p-button-help" (click)="login()"></button>
</p-card>